<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
        <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        
        <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
        </script>
        
        <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
        </script>
        
        <style>
            /* Set the image size */
            .carousel-inner img {
                width: 100%;
            
            }
        </style>

    </head>      
    <body>    
        <div class="container-fluid" style="background-color: #DFF5F1;" >
            <div class="row" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); position: relative;">
                <div class="col-md-4">
                    <a id="modal-300320" href="#modal-container-300320" role="button" class="btn" data-toggle="modal">
                        <span style="font-size: 50px; background-color: #fff; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);" >
                            the <small>pot</small><strong>Clinic</strong>
                        </span>
                    </a>
                    <div class="modal fade" id="modal-container-300320" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myModalLabel">
                                        <span style="font-size: 28px; background-color: #DFF5F1; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);" >
                                            We appreciate your support. :)
                                        </span>
                                    </h3> 
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div style="width:100%;height:0;padding-bottom:100%;position:relative;">
                                        <iframe src="https://giphy.com/embed/26uf43dkw9ByWsjLi" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen>
                                        </iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <span style="font-size: 14px; background-color: #DFF5F1; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);" >
                                        click 'Close' to close this window
                                    </span>
                                    <button type="button" class="btn btn-info" data-dismiss="modal" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8"></div>
            </div>
            <div class="row" style="height: 50vh; background-color: rgba(12, 158, 166, 0.25); box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); position: relative;" >
                <div style="position: absolute; background-color: rgba(12, 158, 166, 0.25); height: 40vh; width: 85vw; top: 15%; right: 0;"></div>
                <div class="col" >
                    <div class="row" style="height: 30%;">
                        <div class="col-1"></div>
                        <div class="col-11">
                            <div class="row" style="margin-top: .5em;">
                                <div class="col-5">
                                    <span style="font-size: 32px; color: #fff;">Welcome to holistic doggie health.</span>
                                </div>
                                <div class="col-2">
                                </div>
                                <div class="col-2">
                                </div>
                                <div class="col-3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: 50%" >
                        <div class="col-md-2" style="height: 100%;" ></div>
                        <div class="col-md-3" style="height: 100%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; position: relative; text-align: center; background-color: #DFF5F1;" >
                            <div style="color: #fff; font-size: 32px; position: absolute; top: -25%; right: 40%;">Mind.</div>
                            <img style="height: 20vh; margin-top: 2.5vh;" src="../static/resources/images/cbd-pet10.jpeg" th:src="@{/resources/images//cbd-pet10.jpeg" />
                        </div>
                        <div class="col-md-3" style="height: 100%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; position: relative; text-align: center; background-color: #DFF5F1;">
                            <div style="color: #fff; font-size: 32px; position: absolute; top: -25%; right: 40%;">Body.</div>
                            <img style="height: 20vh; margin-top: 2.5vh;" src="../static/resources/images/cbd-pet7.jpeg" th:src="@{/resources/images/cbd-pet7.jpeg" /> 
                        </div>
                        <div class="col-md-3" style="height: 100%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; position: relative; text-align: center; background-color: #DFF5F1;">
                            <div style="color: #fff; font-size: 32px; position: absolute; top: -25%; right: 30%;">...and biscuits.</div>
                            <img style="height: 20vh; margin-top: 2.5vh;" src="../static/resources/images/cbd-pet9.jpeg" th:src="@{/resources/images/cbd-pet9.jpeg" /> 
                        </div>
                    </div>
                    <div class="row" style="height: 10%;" ></div>
                </div>
            </div>
            <div class="row" style="height: 50vh; border-bottom: 2px solid grey; margin-top: 1em;">
                <div class="col">
                    <div class="row" style="height: 10%; text-align: center;">
                        <div class="col">
                            <span style="color: rgba(12, 158, 166, 1); font-size: 32px;">We help pets all around the world get the natural treatments they need to lead normal lives without pain & anxiety</span>
                        </div>
                    </div>
                    <div class="row" style="height: 50%;">
                        <div class="col-md-2" style="text-align: center; margin-top: 10vh;">
                            <span style="font-size: 30px; background-color: #fff; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);" >
                                testimonials!!
                            </span>
                        </div>
                        <div class="col-md-2" style="height: 100%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; position: relative; text-align: center; background-color: rgba(12, 158, 166, 0.25); position: relative;">
                            <img style="height: 20vh; width: 80%; margin-top: 2.5vh;" src="../static/resources/images/cbd-pet2.jpeg" th:src="@{/resources/images/cbd-pet2.jpeg" /> 
                            <div style="color: rgba(12, 158, 166, 1); font-size: 20px; position: absolute; top: 105%; right: 25%;">'Cats beware'</div>
                        </div>
                        <div class="col-md-2" style="height: 100%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; text-align: center; background-color: rgba(12, 158, 166, 0.25); position: relative;">
                            <img style="height: 20vh; width: 80%; margin-top: 2.5vh;" src="../static/resources/images/cbd-pet5.jpeg" th:src="@{/resources/images/cbd-pet5.jpeg" />
                            <div style="color: rgba(12, 158, 166, 1); font-size: 20px; position: absolute; top: 105%;">'The Mailman has no chance'</div> 
                        </div>
                        <div class="col-md-2" style="height: 100%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; text-align: center; background-color: rgba(12, 158, 166, 0.25); position: relative;">
                            <img style="height: 20vh; width: 80%; margin-top: 2.5vh;" src="../static/resources/images/cbd-pet6.jpeg" th:src="@{/resources/images/cbd-pet6.jpeg" />
                            <div style="color: rgba(12, 158, 166, 1); font-size: 20px; position: absolute; top: 105%; right: 25%;">'I can sleep again'</div> 
                        </div>
                        <div class="col-md-2" style="height: 100%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; text-align: center; background-color: rgba(12, 158, 166, 0.25); position: relative;">
                            <img style="height: 20vh; width: 80%; margin-top: 2.5vh;" src="../static/resources/images/cbd-pet7.jpeg" th:src="@{/resources/images/cbd-pet7.jpeg" /> 
                            <div style="color: rgba(12, 158, 166, 1); font-size: 20px; position: absolute; top: 105%; right: 40%;">'I love it'</div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="height: 30%;">
                        
                    </div>
                </div>
            </div>
        </div>
        </body>
</html>
