<!DOCTYPE html>
  
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

    <body style="background-color: #DFF5F1;">
        <div class="row" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
            <div class="col" >
                <div class="row" >
                    <div class="col" >
                        <span>Welcome to holistic doggie health. And you're welcome</span>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;" >
                    <div class="col" >
                        <img style="height: 25vh; width: 20vw; margin: auto; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin-right: 5px; display: inline-block;" class="img-responsive" src="../static/resources/images/cbd-pet11.jpeg" th:src="@{/resources/images/cbd-pet11.jpeg}"/>
                    </div>
                    <div class="col" >
                    </div>
                    <div class="col" >
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col" >
                    </div>
                    <div class="col">
                        <img style="height: 25vh; width: 20vw; margin: auto; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin-right: 5px; display: inline-block;" class="img-responsive" src="../static/resources/images/cbd-pet10.jpeg" th:src="@{/resources/images/cbd-pet10.jpeg}"/>
                    </div>
                    <div class="col" >
                    </div>
                </div>
                <div class="row" >
                    <div class="col" >
                    </div>
                    <div class="col" >
                    </div>
                    <div class="col">
                        <img style="height: 25vh; width: 20vw; margin: auto; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin-right: 5px; display: inline-block;" class="img-responsive" src="../static/resources/images/cbd-pet9.jpeg" th:src="@{/resources/images/cbd-pet9.jpeg}"/>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
