<!DOCTYPE html>
  
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        </link>
        <style>
            /* Set the image size */
            .carousel-inner img {
                width: 100%;
            
            }

            .MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
            .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
            .MultiCarousel .MultiCarousel-inner .item { float: left;}
            .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
            .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
            .MultiCarousel .leftLst { left:0; }
            .MultiCarousel .rightLst { right:0; }
            .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
        </style>
    </head>   
    <body style="background-color: #DFF5F1;">
        <div class="container-fluid" >
            <div class="row" style="position: relative;">
                <div class="col-md-8">
                    <a id="modal-300320" href="#modal-container-300320" role="button" class="btn" data-toggle="modal">
                        <span style="font-size: 50px; background-color: #fff; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); position: relative;" >
                            the <small>pot</small><strong>Clinic</strong>
                        </span>
                    </a>
                    <div class="modal fade" id="modal-container-300320" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myModalLabel">
                                        <span style="font-size: 28px; background-color: #DFF5F1; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);" >
                                            We appreciate your support. :)
                                        </span>
                                    </h3> 
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div style="width:100%;height:0;padding-bottom:100%;position:relative;">
                                        <iframe src="https://giphy.com/embed/26uf43dkw9ByWsjLi" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen>
                                        </iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <span style="font-size: 14px; background-color: #DFF5F1; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);" >
                                        click 'Close' to close this window
                                    </span>
                                    <button type="button" class="btn btn-info" data-dismiss="modal" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span style="font-size: 22px; color: black; font-family: 'Courier New', monospace; position: absolute; top: 50%;">Welcome to holistic doggie health.</span>
                </div>
                <div class="col-md-4" >
                    <div class="row" >
                    </div>
                </div>
            </div>
            <div class="row" style="height: 33vh; background-color: rgba(12, 158, 166, 0.25); position: relative;" >
                <div class="row" style="position: absolute; background-color: rgba(12, 158, 166, 0.5); height: 20%; width: 83%; top: 0; right: 1%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);"></div>
                <div class="col" style="top: 7%;">
                    <div class="row" style="height: 50%" >
                        <div class="col-md-2" style="height: 100%;" ></div>
                        <div class="col-md-3" style="height: 30%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; position: relative; text-align: center; background-color: #DFF5F1;" >
                            <div style="color: #fff; font-size: 26px; position: absolute; top: -15%; font-family: 'Courier New'; width: 100%;">Mind.</div>
                            <img style="height: 80%; margin-top: 2.5vh;" class="img-responsive" src="/Users/marktomcza/Downloads/github-actions-trials/new-app-w-github-action/workshop-testing/src/main/resources/static/resources/images/cbd-pet10.jpeg" >
                        </div>
                        <div class="col-md-3" style="height: 30%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; position: relative; text-align: center; background-color: #DFF5F1;">
                            <div style="color: #fff; font-size: 26px; position: absolute; top: -15%; font-family: 'Courier New'; width: 100%;">Body.</div>
                            <img style="height: 80%; margin-top: 2.5vh;" class="img-responsive" src="/Users/marktomcza/Downloads/github-actions-trials/new-app-w-github-action/workshop-testing/src/main/resources/static/resources/images/cbd-pet13.jpeg" /> 
                        </div>
                        <div class="col-md-3" style="height: 30%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; position: relative; text-align: center; background-color: #DFF5F1;">
                            <div style="color: #fff; font-size: 26px; position: absolute; top: -15%; font-family: 'Courier New'; width: 100%;">...and biscuits.</div>
                            <img style="height: 80%; margin-top: 2.5vh;" class="img-responsive" src="/Users/marktomcza/Downloads/github-actions-trials/new-app-w-github-action/workshop-testing/src/main/resources/static/resources/images/cbd-pet9.jpeg" /> 
                        </div>
                    </div>
                    <div class="row" style="height: 10%;" ></div>
                </div>
            </div>
            <div class="row" style="background-color: rgba(12, 158, 166, 1); position: relative;" >
                <div style="background-color: black; width: 100%; height: 5vh; position: absolute; top:0;"></div>
                <div class="col" >
                    <div class="row" >
                        <div class="col-4" >
                            <span style="font-size: 30px; color: #fff; margin-left: 10px;" >
                                Exclusive Deals!
                            </span>
                        </div>
                        <div class="col-8" >
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-12" >
                            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                                <div class="MultiCarousel-inner">
                                    <div class="item" >
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Just CBD Pets</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-1.jpeg" th:src="@{/resources/images/product-1.jpeg}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$79.95</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Extend Joint Care</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-2.png" th:src="@{/resources/images/product-2.png}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$39.95</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Pet Tincture</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-3.png" th:src="@{/resources/images/product-3.png}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$19.95</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">ElleVet Pet Oils</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-4.jpeg" th:src="@{/resources/images/product-4.jpeg}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$119.95</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Joint Pet Chews</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-5.jpeg" th:src="@{/resources/images/product-5.jpeg}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$27.00</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Senior Joint Chews</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-6.png" th:src="@{/resources/images/product-6.png}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$38.99</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Anxiety Chews</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-7.jpeg" th:src="@{/resources/images/product-7.jpeg}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$39.99</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Pet Balm</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-8.jpeg" th:src="@{/resources/images/product-8.jpeg}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$24.99</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Pet Balm</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-9.jpeg" th:src="@{/resources/images/product-9.jpeg}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$19.99</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">WinPro Anxiety Cure</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-10.jpeg" th:src="@{/resources/images/product-10.jpeg}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$149.99</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Pet Oil</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-11.png" th:src="@{/resources/images/product-11.png}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$34.99</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Five Pet Oils</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-12.png" th:src="@{/resources/images/product-12.png}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$49.99</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">VF Pet Oils</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-13.png" th:src="@{/resources/images/product-13.png}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$79.99</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Holistic Hound Oil</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-14.jpg" th:src="@{/resources/images/product-14.jpg}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$29.99</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Living Pet Tincture</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-15.png" th:src="@{/resources/images/product-15.png}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$29.99</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pad15" style="box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4);">
                                            <p class="lead">Valida Pets</p>
                                            <img style="height: 10vh;" class="img-responsive" src="../static/resources/images/product-16.jpeg" th:src="@{/resources/images/product-16.jpeg}"/> 
                                            <p class="lead" style="margin-top: 1em;" >$39.99</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary leftLst"><</button>
                                <button class="btn btn-primary rightLst">></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 30vh; border-bottom: 2px solid grey;">
                <div class="col">
                    <div class="row" style="height: 50%; position: relative;">
                        <div class="row" style="position: absolute; background-color: rgba(12, 158, 166, 0.75); height: 50%; width: 93.5%; bottom: -80%; left: 0; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); "></div>
                        <div style="position: absolute; top: 0; left: 2%;">
                            <span style="font-size: 30px;" >
                                Testimonials
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2" style="height: 100%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; position: relative; text-align: center; background-color: #DFF5F1; position: relative;margin-top: 3.5em;">
                            <img style="height: 60%; width: 80%; margin-top: 2.5vh;" class="img-responsive" src="/../static/resources/images/cbd-pet2.jpeg" th:src="@{/resources/images/cbd-pet2.jpeg}"/> 
                            <div style="color: white; font-size: 16px; position: absolute; top: 105%; font-family: 'Courier New'; width: 95%;">"Cats beware"</div>
                            <span style="font-size: 24px; position: absolute; top: -30%; right: 35%; font-family: 'Courier New';" >
                                Duey
                            </span>
                        </div>
                        <div class="col-md-2" style="height: 100%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; text-align: center; background-color: #DFF5F1; position: relative; margin-top: 3.5em;">
                            <img style="height: 60%; width: 80%; margin-top: 2.5vh;" class="img-responsive" src="../static/resources/images/cbd-pet5.jpeg" th:src="@{/resources/images/cbd-pet5.jpeg}"/>
                            <div style="color: white; font-size: 16px; position: absolute; top: 105%; font-family: 'Courier New'; width: 95%;">"The Mailman has no chance"</div> 
                            <span style="font-size: 24px; position: absolute; top: -30%; right: 35%; font-family: 'Courier New';" >
                                Luey
                            </span>
                        </div>
                        <div class="col-md-2" style="height: 100%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; text-align: center; background-color: #DFF5F1; position: relative; margin-top: 3.5em;">
                            <img style="height: 60%; width: 80%; margin-top: 2.5vh;" class="img-responsive" src="../static/resources/images/cbd-pet6.jpeg" th:src="@{/resources/images/cbd-pet6.jpeg}"/>
                            <div style="color: white; font-size: 16px; position: absolute; top: 105%; font-family: 'Courier New'; width: 95%;">"I can sleep all day now"</div> 
                            <span style="font-size: 24px; position: absolute; top: -30%; right: 35%; font-family: 'Courier New';" >
                                Oscar
                            </span>
                        </div>
                        <div class="col-md-2" style="height: 100%; box-shadow: 0 5px 10px rgba(18, 18, 18, 0.50), 0 3px 10px rgba(18, 18, 18, 0.4); margin: 1em; text-align: center; background-color: #DFF5F1; position: relative; margin-top: 3.5em;">
                            <img style="height: 60%; width: 80%; margin-top: 2.5vh;" class="img-responsive" src="../static/resources/images/cbd-pet7.jpeg" th:src="@{/resources/images/cbd-pet7.jpeg}" /> 
                            <div style="color: white; font-size: 16px; position: absolute; top: 105%; font-family: 'Courier New'; width: 95%;">"Pooping is a breeze"</div>
                            <span style="font-size: 24px; position: absolute; top: -30%; right: 25%; font-family: 'Courier New';" >
                                The Twins
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>   
        <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
        </script>       
        <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
        </script>
        <script>
            $(document).ready(function () {
                var itemsMainDiv = ('.MultiCarousel');
                var itemsDiv = ('.MultiCarousel-inner');
                var itemWidth = "";

                $('.leftLst, .rightLst').click(function () {
                    var condition = $(this).hasClass("leftLst");
                    if (condition)
                        click(0, this);
                    else
                        click(1, this)
                });

                ResCarouselSize();

                $(window).resize(function () {
                    ResCarouselSize();
                });

                //this function define the size of the items
                function ResCarouselSize() {
                    var incno = 0;
                    var dataItems = ("data-items");
                    var itemClass = ('.item');
                    var id = 0;
                    var btnParentSb = '';
                    var itemsSplit = '';
                    var sampwidth = $(itemsMainDiv).width();
                    var bodyWidth = $('body').width();
                    $(itemsDiv).each(function () {
                        id = id + 1;
                        var itemNumbers = $(this).find(itemClass).length;
                        btnParentSb = $(this).parent().attr(dataItems);
                        itemsSplit = btnParentSb.split(',');
                        $(this).parent().attr("id", "MultiCarousel" + id);


                        if (bodyWidth >= 1200) {
                            incno = itemsSplit[3];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 992) {
                            incno = itemsSplit[2];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 768) {
                            incno = itemsSplit[1];
                            itemWidth = sampwidth / incno;
                        }
                        else {
                            incno = itemsSplit[0];
                            itemWidth = sampwidth / incno;
                        }
                        $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                        $(this).find(itemClass).each(function () {
                            $(this).outerWidth(itemWidth);
                        });

                        $(".leftLst").addClass("over");
                        $(".rightLst").removeClass("over");

                    });
                }


                //this function used to move the items
                function ResCarousel(e, el, s) {
                    var leftBtn = ('.leftLst');
                    var rightBtn = ('.rightLst');
                    var translateXval = '';
                    var divStyle = $(el + ' ' + itemsDiv).css('transform');
                    var values = divStyle.match(/-?[\d\.]+/g);
                    var xds = Math.abs(values[4]);
                    if (e == 0) {
                        translateXval = parseInt(xds) - parseInt(itemWidth * s);
                        $(el + ' ' + rightBtn).removeClass("over");

                        if (translateXval <= itemWidth / 2) {
                            translateXval = 0;
                            $(el + ' ' + leftBtn).addClass("over");
                        }
                    }
                    else if (e == 1) {
                        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                        translateXval = parseInt(xds) + parseInt(itemWidth * s);
                        $(el + ' ' + leftBtn).removeClass("over");

                        if (translateXval >= itemsCondition - itemWidth / 2) {
                            translateXval = itemsCondition;
                            $(el + ' ' + rightBtn).addClass("over");
                        }
                    }
                    $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                }

                //It is used to get some elements from btn
                function click(ell, ee) {
                    var Parent = "#" + $(ee).parent().attr("id");
                    var slide = $(Parent).attr("data-slide");
                    ResCarousel(ell, Parent, slide);
                }

            });
        </script>
    </body>
</html>
