{
    "contrast_api_url":"",
    "contrast_api_username": "",
    "contrast_api_api_key": "",
    "contrast_api_service_key": "",
    "contrast_agent_java_standalone_app_name": "",
    "contrast_application_version": ""
}
